<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.med.com.cubegame.audiomanaging">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:sharedUserId="com.e-mobadara.audiomanaging">
        <activity android:name=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.med.com.cubegame.audiomanaging.AudioSettingsActivity"/>
        </activity>
        <activity android:name=".addAudioFile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.med.com.cubegame.audiomanaging.HomeActivity"/>
        </activity>
        <activity android:name=".AudioSettingsActivity" />
        <activity android:name=".ExportImportActivity"></activity>
        <provider
            android:name="com.med.com.cubegame.Data.AudioFilesProvider"
            android:authorities="com.med.com.cubegame.Data.AudioFilesProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>
    </application>

</manifest>